.banner_image{ /* background image moet misschien nog even veranderd worden */
    background-image: url("gezond.jpg");
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content{
    text-align: center;
    color: #fff;
}

.banner_content h1{
    line-height: 38px;
    margin-bottom: 15px;
}

.banner_content span{
    color: #fff;
}

.about{
    padding: 5% 10%;
    text-align: center;
}

h1.title {
    margin-bottom: 20px;
    color: #444444;
    word-spacing: 25px;
    letter-spacing: 5px;
}