:root {
    ---background-color-nav: rgb(94, 93, 93);
    --black: #111;
    --background-color-footer: rgb(94, 93, 93);
    --white: white;

    --main-background: #F08700;
    --secondary-background: #F49F0A;
    --third-background: #EFCA08;
    --main-blue: #00A6A6;
    --secondary-blue: #BBDEF0;
}

body {
    background: var(--main-background);
}

* {
    overflow: hidden;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 14px;
  background-color: var(---background-color-nav);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(---background-color-nav);
}

li a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--black);
}

#footer {
    background: var(--background-color-footer);
    width: 100%;
    color: var(--white);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 15px 0;
}

.banner_image{
  background: url("images/gezond.jpg");
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_content{
  text-align: center;
  color: #fff;
}

.banner_content h1{
  line-height: 38px;
  margin-bottom: 15px;
}

/* This is optional */
.banner_content h1 span{
  color: #fff;
}

.about{
  padding: 5% 10%;
  text-align: center;
}